{
    "openapi": "3.0.3",
    "info": {
        "title": "Floatplane REST API",
        "version": "3.10.0-c",
        "description": "Homepage: [https://jman012.github.io/FloatplaneAPIDocs](https://jman012.github.io/FloatplaneAPIDocs)\n\nThis document describes the REST API layer of [https://www.floatplane.com](https://www.floatplane.com), a content creation and video streaming website created by Floatplane Media Inc. and Linus Media Group, where users can support their favorite creators via paid subscriptions in order to watch their video and livestream content in higher quality, in addition to other perks.\n\nWhile this document contains stubs for all of the Floatplane APIs for this version, many are not filled out because they are related only to content creation, moderation, or administration and are not needed for regular use. These have \"TODO\" as the description, and are automatically removed before document generation. If you are viewing the \"Trimmed\" version of this document, they have been removed for brevity.\n\n## API Object Organization\n\n- **Users** and **Creators** exist on Floatplane at the highest level\n\t- The highest-level object in Floatplane is the Creator. This is an entity, such as Linus Tech Tips, that produces media for Users.\n- A Creator owns one or more **Subscription Plans**\n- A User can view a Creator's Content if they are subscribed to them\n- A Creator publishes **Content**, in the form of **Blog Posts**\n\t- Content is produced by Creators, and show up for subscribed Users to view when it is released. A piece of Content is meant to be generic, and may contain different types of sub-Content. Currently, the only type is a Blog Post.\n\t- A Blog Post is the main type of Content that a Creator produces. Blog Posts are how a Creator can share text and/or media attachments with their subscribers.\n- A Blog Post is comprised of one or more of: video, audio, or picture **Attachments**\n\t- A media Attachment may be: video, audio, picture. Attachments are a part of Blog Posts, and are in a particular order.\n- A Creator may also have a single **Livestream**\n- Creators also may have one or more **Channels**\n\n## API Flow\n\nAs of Floatplane version 4.0.13, these are the recommended endpoints to use for normal operations.\n\n1. Login\n\t1. `/api/v3/auth/captcha/info` - Get captcha information\n\t1. `/api/v2/auth/login` - Login with username, password, and optional captcha token\n\t1. `/api/v2/auth/checkFor2faLogin` - Optionally provide 2FA token to complete login\n\t1. `/api/v2/auth/logout` - Logout at a later point in time\n1. Home page\n\t1. `/api/v3/user/subscriptions` - Get the user's active subscriptions\n    1. `/api/v3/creator/info` - Get more information on subscribed creators\n        1. Shows a list of creators that the user can select\n\t\t1. Note that this can search and return multiple creators. The V3 version only works for a single creator at a time.\n\t1. `/api/v3/content/creator/list` - Using the subscriptions, show a home page with content from all subscriptions/subscribed creators\n\t\t1. Supply all creator identifiers from the subscriptions\n\t\t1. This is be paginated\n1. Creator page\n\t1. `/api/v3/creator/info` - Get more details for the creator to display, including if livestreams are available\n\t1. `/api/v3/content/creator` - Show recent content by that creator (as opposed to all subscribed creators, above)\n\t1. `/api/v2/plan/info` - Show available plans the user can subscribe to for the creator\n1. Content page\n\t1. `/api/v3/content/post` - Show more detailed information about a piece of content, including text description, available attachments, metadata, interactions, etc.\n\t1. `/api/v3/content/related` - List some related content for the user to watch next\n\t1. `/api/v3/comment` - Load comments for the content for the user to read\n\t\t1. There are several more comment APIs to post, like, dislike, etc.\n\t1. `/api/v2/user/ban/status` - Determine if the user is banned from this creator\n\t1. `/api/v3/content/{video|audio|picture|gallery}` - Load the attached media for the post. This is usually video, but audio, pictures, and galleries are also available.\n\t1. `/api/v3/delivery/info` - For video and audio, this is required to get the information to stream or download the content in media players\n1. Livestream\n\t1. `/api/v3/delivery/info` - Using the type \"livestream\" to load the livestream media in a media player\n\t1. `wss://chat.floatplane.com/sails.io/?...` - To connect to the livestream chat over websocket. See https://jman012.github.io/FloatplaneAPIDocs/ for more information on the FP Async API with Websockets.\n1. User Profile\n\t1. `/api/v3/user/self` - Display username, name, email, and profile pictures\n\n## API Organization\n\nThe organization of APIs into categories in this document are reflected from the internal organization of the Floatplane website bundled code, from `frontend.floatplane.com/{version}/main.js`. This is in order to use the best organization from the original developers' point of view.\n\nFor instance, Floatplane's authentication endpoints are organized into `Auth.v2.login(...)`, `Auth.v2.logout()`, and `Auth.v3.getCaptchaInfo()`. A limitation in OpenAPI is the lack of nested tagging/structure, so this document splits `Auth` into `AuthV2` and `AuthV3` to emulate the nested structure.\n\n## Rate Limiting\n\nThe Floatplane API may employ rate limiting on certain or all endpoints. If too many requests are sent by a client to the API, it will be rejected and rate-limited. This may be by IP address per endpoint in a certain unit of time, but is subject to change.\n\nRate-limited requests will respond with an HTTP 429 response. The content of the response may be HTML or JSON and is subject to change. The response will also have a `Retry-After` header, which contains the number of seconds remaining until the rate limiting will cease for the client on that endpoint. \n\nClients are expected to both 1) prevent too many requests from executing at a time, usually for specific endpoints, and particulay for the `/api/v2/cdn/delivery` and `/api/v3/delivery/info` endpoints, and 2) properly handle rate-limited responses by ceasing requests until the `Retry-After` expiration.\n\n## Notes\n\nNote that the Floatplane API does support the use of [ETags](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) for retrieving some information, such as retrieving information about creators, users, etc. Expect an HTTP 304 if the content has not changed, and to re-use cached responses. This is useful to ease the strain on Floatplane's API server.\n\nThe date-time format used by Floatplane API is not standard ISO 8601 format. The dates/times given by Floatplane include milliseconds. Depending on your code generator, you may need to override the date-time format to something similar to `yyyy-MM-dd'T'HH:mm:ss.SSSZ`, for both encoding and decoding.",
        "license": {
            "name": "MIT",
            "url": "https://github.com/Jman012/FloatplaneAPI/blob/main/LICENSE"
        },
        "contact": {
            "name": "James Linnell",
            "url": "https://github.com/Jman012/FloatplaneAPI/"
        }
    },
    "servers": [
        {
            "url": "https://www.floatplane.com"
        }
    ],
    "tags": [
        {
            "name": "AuthV2",
            "description": "Sign up, login, 2FA, and logout. Additionally, login spoofing for administrators."
        },
        {
            "name": "AuthV3",
            "description": "Captchas information."
        },
        {
            "name": "CDNV2",
            "description": "Content Delivery mechanisms for Floatplane media."
        },
        {
            "name": "DeliveryV3",
            "description": "Content Delivery mechanisms for Floatplane media."
        },
        {
            "name": "ConnectedAccountsV2",
            "description": "3rd party account management, such as Discord or LTT Forums."
        },
        {
            "name": "CreatorV2",
            "description": "Get and discover creators on the platform. Creator invitation and profile management."
        },
        {
            "name": "CreatorV3",
            "description": "Get and discover creators on the platform. Creator invitation and profile management."
        },
        {
            "name": "CreatorSubscriptionPlanV2",
            "description": "Manage creator subscription plans."
        },
        {
            "name": "EdgesV2",
            "description": "Get edge server information for media playback."
        },
        {
            "name": "FAQV2",
            "description": "Get FAQs."
        },
        {
            "name": "PaymentsV2",
            "description": "User payment method/address/invoice management."
        },
        {
            "name": "SocketV3",
            "description": "Socket subscriptions and connections."
        },
        {
            "name": "SubscriptionsV3",
            "description": "Get user subscriptions."
        },
        {
            "name": "UserV2",
            "description": "User discovery and profile management."
        },
        {
            "name": "UserV3",
            "description": "User discovery and profile management."
        },
        {
            "name": "CommentV3",
            "description": "Comment retrieval, posting, and interacting."
        },
        {
            "name": "ContentV3",
            "description": "Content retrieval and interacting."
        },
        {
            "name": "PollV3",
            "description": "Poll voting and management."
        },
        {
            "name": "RedirectV3",
            "description": "Channel-level redirection to Youtube or other sites for latest videos outside of Floatplane."
        },
        {
            "name": "LoyaltyRewardsV3",
            "description": "Loyalty rewards information and claiming."
        }
    ],
    "components": {
        "schemas": {
            "AuthLoginV2Request": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "captchaToken": {
                        "type": "string",
                        "description": "The Google Recaptcha v2/v3 token to verify the request. On web browsers, this is required. For mobile or TV applications, this is not required only if the User-Agent indicates so (e.g., if the User-Agent contains \"CFNetwork\" in its value). Otherwise, the application would have to supply a valid captcha token, which can be difficult to obtain dynamically in some scenarios. In this case, this should be undefined (no key), not null."
                    }
                },
                "required": [
                    "username",
                    "password"
                ]
            },
            "AuthLoginV2Response": {
                "type": "object",
                "properties": {
                    "user": {
                        "description": "Identifying information about the new-logged-in user upon success. May be undefined when `needs2FA` is `true`.",
                        "$ref": "#/components/schemas/UserModel"
                    },
                    "needs2FA": {
                        "type": "boolean",
                        "description": "If true, the user has not yet been authenticated, and will need to submit the 2FA token to complete authentication."
                    }
                },
                "required": [
                    "needs2FA"
                ]
            },
            "CheckFor2faLoginRequest": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "The two-factor authentication token that the user inputs to complete the login process."
                    }
                },
                "required": [
                    "token"
                ]
            },
            "CdnDeliveryV2QualityLevelModel": {
                "type": "object",
                "description": "Represents a quality of video to download/stream.",
                "additionalProperties": false,
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Used to identify this level of quality, and to refer to the `qualityLevelParams` object below by the property key."
                    },
                    "width": {
                        "type": "integer",
                        "description": "The video quality's resolution's width in pixels.",
                        "nullable": true
                    },
                    "height": {
                        "type": "integer",
                        "description": "The video quality resolution's height in pixels.",
                        "nullable": true
                    },
                    "label": {
                        "type": "string",
                        "description": "The display-friendly version of `name`."
                    },
                    "order": {
                        "type": "integer",
                        "description": "The display order to be shown to the user."
                    },
                    "mimeType": {
                        "type": "string",
                        "nullable": true
                    },
                    "codecs": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "name",
                    "label",
                    "order"
                ]
            },
            "CdnDeliveryV2ResourceModel": {
                "type": "object",
                "properties": {
                    "uri": {
                        "type": "string",
                        "description": "The path to attach to the `cdn` property above. Replace the items surrounded by curly braces (`{`, `}`) with the appropriate values from the `data` property, depending on chosen resolution. First, choose the `qualityLevel`, then use the given token from the `qualityLevelParam` for that `qualityLevel`'s `name`."
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                            "qualityLevels": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CdnDeliveryV2QualityLevelModel"
                                }
                            },
                            "qualityLevelParams": {
                                "type": "object",
                                "description": "For each `qualityLevel` above, there will be an entry in this map where the property name matches the `qulityLevel[].name` containing a token to apply to the URL.",
                                "nullable": true,
                                "additionalProperties": true
                            }
                        }
                    }
                },
                "required": [
                    "uri",
                    "data"
                ]
            },
            "CdnDeliveryV2VodLivestreamResponse": {
                "type": "object",
                "properties": {
                    "cdn": {
                        "type": "string",
                        "format": "uri",
                        "description": "The domain of the CDN server to use. Combine with data from the `resource` object to create a full URL."
                    },
                    "strategy": {
                        "type": "string",
                        "description": "Which download/streaming strategy to use. If `cdn`, then a `cdn` property will be included with the response. Otherwise, if set to `client`, then a `client` property will be included with the response. The cdn or client property should be combined with the `resource` property to perform the download/stream.",
                        "enum": [
                            "cdn",
                            "client"
                        ]
                    },
                    "resource": {
                        "$ref": "#/components/schemas/CdnDeliveryV2ResourceModel"
                    }
                },
                "required": [
                    "cdn",
                    "strategy",
                    "resource"
                ]
            },
            "CdnDeliveryV2DownloadResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/EdgesModel"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "strategy": {
                                "type": "string",
                                "description": "Which download/streaming strategy to use. If `cdn`, then a `cdn` property will be included with the response. Otherwise, if set to `client`, then a `client` property will be included with the response. The cdn or client property should be combined with the `resource` property to perform the download/stream.",
                                "enum": [
                                    "cdn",
                                    "client"
                                ]
                            },
                            "resource": {
                                "$ref": "#/components/schemas/CdnDeliveryV2ResourceModel"
                            }
                        },
                        "required": [
                            "strategy",
                            "resource"
                        ]
                    }
                ]
            },
            "CdnDeliveryV2Response": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/CdnDeliveryV2VodLivestreamResponse"
                    },
                    {
                        "$ref": "#/components/schemas/CdnDeliveryV2DownloadResponse"
                    }
                ]
            },
            "CdnDeliveryV3Response": {
                "type": "object",
                "properties": {
                    "groups": {
                        "type": "array",
                        "description": "`groups` may consist of zero or more elements.",
                        "minItems": 0,
                        "items": {
                            "$ref": "#/components/schemas/CdnDeliveryV3Group"
                        }
                    }
                },
                "required": [
                    "groups"
                ]
            },
            "CdnDeliveryV3Group": {
                "type": "object",
                "description": "A group is a logical grouping/separation of variants. At this time, there are no examples of more than one group in a response.",
                "properties": {
                    "origins": {
                        "type": "array",
                        "description": "If `origins` is present, it will consist of one or more elements.",
                        "minItems": 1,
                        "items": {
                            "$ref": "#/components/schemas/CdnDeliveryV3Origin"
                        }
                    },
                    "variants": {
                        "type": "array",
                        "description": "`variants` may consist of zero or more elements.",
                        "minItems": 0,
                        "items": {
                            "$ref": "#/components/schemas/CdnDeliveryV3Variant"
                        }
                    }
                },
                "required": [
                    "variants"
                ]
            },
            "CdnDeliveryV3Origin": {
                "type": "object",
                "description": "An `origin`, if present, is a choice of base URL or server from which to load a `variant`'s content. If origin(s) exists in a group or variant, then one must be chosen in combination with the variant's `url`.",
                "properties": {
                    "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "An absolute URL (possibly with trailing slash) which acts as the base of a delivery resource URI. This is always present."
                    },
                    "queryUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "An absolute URL (possibly with trailing slash) which the client can use to query if the origin is active/working. This field may not be present. Perform an HTTP GET on this URL and expect an HTTP 200 in order to trust this origin."
                    },
                    "datacenter": {
                        "$ref": "#/components/schemas/EdgeDataCenter"
                    }
                },
                "required": [
                    "url"
                ]
            },
            "CdnDeliveryV3Variant": {
                "type": "object",
                "description": "A `variant` represents one variant of a source of media. The most common differenitating factor between variants is video resolution, but there may be more variations based on `isHdr`, codecs, FPS, etc. It's possible that groups of variants may be divided into separate `groups` elements.",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "A programmatic name for this variant, for use with uniquely identifying this variant."
                    },
                    "label": {
                        "type": "string",
                        "description": "A display-friendly label for this variant, for use in the UI."
                    },
                    "url": {
                        "type": "string",
                        "description": "A relative *or* absolute URL containing resource information for this variant. Compared to the V2 API, this URL does not contain template information and will not need to be modified before use, other than optionally combining with an origin. This value may contain a trailing slash.\n\nIf this URL is absolute, it may be used as-is in order to load the media content. If this URL is relative, then it should be combined with an origin base URL. In order of preference: 1) use an origin from this variant object, 2) use an origin from this variant's group object, 3) use `https://floatplane.com`.\n\nDo not use an origin from a different group, or from a different variant, as this may result in errors. "
                    },
                    "origins": {
                        "type": "array",
                        "description": "If `origins` is present, it will consist of one or more elements.",
                        "minItems": 1,
                        "items": {
                            "$ref": "#/components/schemas/CdnDeliveryV3Origin"
                        }
                    },
                    "order": {
                        "type": "integer",
                        "format": "int64",
                        "description": "An optional field prescribing this variant's order in relation to other variants. No guarantees other than being greater than or less than the order of other variants within this group (e.g., order may not be consecutive)."
                    },
                    "enabled": {
                        "type": "boolean",
                        "description": "An optional field indicating if this variant is enabled. If this is not enabled, it may be visible to the user, but not selectable. If this field is not present, assume a default value of `false`, for safety."
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "An optional field indicating if this variant should be hidden. If hidden, it should not be shown to the user nor considered in any code logic. If this field is not present, assume a default value of `false`. Only truthy values should hide a variant."
                    },
                    "meta": {
                        "$ref": "#/components/schemas/CdnDeliveryV3Meta"
                    },
                    "mimeType": {
                        "type": "string",
                        "description": "An optional string describing the MIME Type of this media source."
                    }
                },
                "required": [
                    "name",
                    "label",
                    "url"
                ]
            },
            "CdnDeliveryV3Meta": {
                "type": "object",
                "description": "Metadata information for this variant. Note that most/all child and grandchild properties are not required on purpose.",
                "properties": {
                    "common": {
                        "type": "object",
                        "properties": {
                            "size": {
                                "type": "number",
                                "description": "Size of the corresponding media file, measured in bytes."
                            },
                            "access": {
                                "type": "object",
                                "properties": {
                                    "deniedReason": {
                                        "type": "string",
                                        "enum": [
                                            "isMissingPermission",
                                            "isProcessing",
                                            "isBroken"
                                        ],
                                        "description": "- `isMissingPermission`: Indicates that the requester is lacking a required plan or other form of permission entitling on to access the corresponding resource.\n- `isProcessing`: Indicates that the corresponding resource is processing. Clients may choose to periodically refetch an asset's info when it has reported this state.\n- `isBroken`: Indicates that the corresponding resource is defective in some manner which has rendered it currently inaccessible. It is possible that the asset will be repaired at some later point in time. Clients may choose to periodically refetch an asset's info when it has reported this state."
                                    },
                                    "deniedMessage": {
                                        "type": "string",
                                        "description": "Message describing in human-readable terms why access has been witheld for a resource."
                                    }
                                }
                            }
                        }
                    },
                    "video": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CdnDeliveryV3MediaIdentityCharacteristics"
                            },
                            {
                                "$ref": "#/components/schemas/CdnDeliveryV3ImagePresentationCharacteristics"
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "fps": {
                                        "type": "number",
                                        "description": "Maximum count of frames presented per second for the video."
                                    }
                                }
                            },
                            {
                                "$ref": "#/components/schemas/CdnDeliveryV3MediaBitrateInfo"
                            }
                        ]
                    },
                    "audio": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CdnDeliveryV3MediaIdentityCharacteristics"
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "channelCount": {
                                        "type": "integer",
                                        "description": "Count of channels carried by the audio stream."
                                    },
                                    "samplerate": {
                                        "type": "integer",
                                        "description": "Count of samples recorded per second."
                                    }
                                }
                            },
                            {
                                "$ref": "#/components/schemas/CdnDeliveryV3MediaBitrateInfo"
                            }
                        ]
                    },
                    "image": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CdnDeliveryV3MediaIdentityCharacteristics"
                            },
                            {
                                "$ref": "#/components/schemas/CdnDeliveryV3ImagePresentationCharacteristics"
                            }
                        ]
                    },
                    "live": {
                        "type": "object",
                        "properties": {
                            "lowLatencyExtension": {
                                "type": "string",
                                "enum": [
                                    "llhls",
                                    "clhls",
                                    "ivshls",
                                    "lldash"
                                ],
                                "description": "- `llhls`: 🍎-backed low-latency HLS extension.\n- `clhls`: Community-backed low-latency HLS extension.\n- `ivshls`: IVS custom low-latency HLS extension.\n- `lldash`: DASH-IF-backed low-Latency DASH extension."
                            }
                        }
                    }
                }
            },
            "CdnDeliveryV3MediaIdentityCharacteristics": {
                "type": "object",
                "properties": {
                    "codec": {
                        "type": "string",
                        "description": "RFC 6381 codec string indicating stream data chunk format."
                    },
                    "codecSimple": {
                        "type": "string",
                        "description": "RFC 6381 codec string indicating stream format on the most basic level, without the addition of profile/level/etc. information."
                    },
                    "mimeType": {
                        "type": "string",
                        "description": "MIME-type for individual stream data chunks (as opposed to a containing playlist)."
                    }
                }
            },
            "CdnDeliveryV3ImagePresentationCharacteristics": {
                "type": "object",
                "properties": {
                    "width": {
                        "type": "integer",
                        "description": "Count of horizontal pixels presented."
                    },
                    "height": {
                        "type": "integer",
                        "description": "Count of vertical pixels presented."
                    },
                    "isHdr": {
                        "type": "boolean",
                        "description": "Whether or not this data stream carries HDR content."
                    }
                }
            },
            "CdnDeliveryV3MediaBitrateInfo": {
                "type": "object",
                "properties": {
                    "bitrate": {
                        "type": "object",
                        "properties": {
                            "maximum": {
                                "type": "number",
                                "description": "Maximum bitrate observed for the data stream."
                            },
                            "average": {
                                "type": "number",
                                "description": "Average bitrate observed for the data stream."
                            }
                        }
                    }
                }
            },
            "PaymentInvoiceListV2Response": {
                "type": "object",
                "properties": {
                    "invoices": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "amountDue": {
                                    "type": "number"
                                },
                                "amountTax": {
                                    "type": "number"
                                },
                                "attemptCount": {
                                    "type": "integer"
                                },
                                "currency": {
                                    "type": "string"
                                },
                                "date": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "dateDue": {
                                    "type": "string",
                                    "format": "date-time",
                                    "nullable": true
                                },
                                "periodStart": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "periodEnd": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "nextPaymentAttempt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "nullable": true
                                },
                                "paid": {
                                    "type": "boolean"
                                },
                                "forgiven": {
                                    "type": "boolean"
                                },
                                "refunded": {
                                    "type": "boolean"
                                },
                                "subscriptions": {
                                    "type": "array",
                                    "description": "The subscriptions this invoice is in reference to.",
                                    "nullable": true,
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "subscription": {
                                                "type": "number"
                                            },
                                            "periodStart": {
                                                "type": "string",
                                                "format": "date-time",
                                                "nullable": true
                                            },
                                            "periodEnd": {
                                                "type": "string",
                                                "format": "date-time",
                                                "nullable": true
                                            },
                                            "value": {
                                                "type": "number"
                                            },
                                            "amountSubtotal": {
                                                "type": "number"
                                            },
                                            "amountTotal": {
                                                "type": "number"
                                            },
                                            "amountTax": {
                                                "type": "number"
                                            },
                                            "plan": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "creator": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "urlname": {
                                                                "type": "string"
                                                            },
                                                            "icon": {
                                                                "$ref": "#/components/schemas/ImageModel"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "title",
                                                            "urlname",
                                                            "icon"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "title",
                                                    "creator"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "subscription",
                                            "periodStart",
                                            "periodEnd",
                                            "value",
                                            "amountSubtotal",
                                            "amountTotal",
                                            "amountTax",
                                            "plan"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "id",
                                "amountDue",
                                "amountTax",
                                "attemptCount",
                                "currency",
                                "date",
                                "dateDue",
                                "periodStart",
                                "periodEnd",
                                "nextPaymentAttempt",
                                "paid",
                                "forgiven",
                                "refunded",
                                "subscriptions"
                            ]
                        }
                    }
                },
                "required": [
                    "invoices"
                ]
            },
            "PlanInfoV2Response": {
                "type": "object",
                "properties": {
                    "totalSubscriberCount": {
                        "type": "integer",
                        "description": "The total number of subscribers for this creator.",
                        "nullable": true
                    },
                    "totalIncome": {
                        "type": "integer",
                        "description": "The total amount of monthly income for this creator. This field tends to always be $0 for regular users.",
                        "nullable": true
                    },
                    "plans": {
                        "type": "array",
                        "items": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SubscriptionPlanModel"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "enabled": {
                                            "type": "boolean"
                                        },
                                        "paymentID": {
                                            "type": "integer",
                                            "nullable": true
                                        },
                                        "trialPeriod": {
                                            "type": "number"
                                        },
                                        "creator": {
                                            "type": "string"
                                        },
                                        "userIsSubscribed": {
                                            "type": "boolean"
                                        },
                                        "userIsGrandfathered": {
                                            "type": "boolean"
                                        },
                                        "enabledGlobal": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "createdAt",
                                        "updatedAt",
                                        "enabled",
                                        "paymentID",
                                        "trialPeriod",
                                        "creator",
                                        "userIsSubscribed",
                                        "enabledGlobal"
                                    ]
                                }
                            ]
                        }
                    }
                },
                "required": [
                    "totalSubscriberCount",
                    "totalIncome",
                    "plans"
                ]
            },
            "UserInfoV2Response": {
                "type": "object",
                "properties": {
                    "users": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "user": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/UserModel"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserSelfModel"
                                        }
                                    ]
                                }
                            },
                            "required": [
                                "id",
                                "user"
                            ]
                        }
                    }
                },
                "required": [
                    "users"
                ]
            },
            "UserNamedV2Response": {
                "type": "object",
                "properties": {
                    "users": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "user": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/UserModel"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserSelfModel"
                                        }
                                    ]
                                }
                            },
                            "required": [
                                "id",
                                "user"
                            ]
                        }
                    }
                },
                "required": [
                    "users"
                ]
            },
            "UserSecurityV2Response": {
                "type": "object",
                "properties": {
                    "twofactorEnabled": {
                        "type": "boolean"
                    },
                    "twofactorBackupCodeEnabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "twofactorEnabled",
                    "twofactorBackupCodeEnabled"
                ]
            },
            "CommentV3PostRequest": {
                "type": "object",
                "properties": {
                    "blogPost": {
                        "type": "string",
                        "description": "The GUID of the blogPost the comment should be posted to."
                    },
                    "text": {
                        "type": "string",
                        "description": "The text of the comment being posted."
                    }
                },
                "required": [
                    "blogPost",
                    "text"
                ]
            },
            "CommentV3PostResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "blogPost": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserModel"
                    },
                    "text": {
                        "type": "string"
                    },
                    "replying": {
                        "type": "string"
                    },
                    "postDate": {
                        "type": "string"
                    },
                    "editDate": {
                        "type": "string"
                    },
                    "editCount": {
                        "type": "integer"
                    },
                    "isEdited": {
                        "type": "boolean"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "interactionCounts": {
                        "type": "object",
                        "properties": {
                            "like": {
                                "type": "integer"
                            },
                            "dislike": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "like",
                            "dislike"
                        ]
                    }
                },
                "required": [
                    "id",
                    "blogPost",
                    "user",
                    "text",
                    "replying",
                    "postDate",
                    "editDate",
                    "editCount",
                    "isEdited",
                    "likes",
                    "dislikes",
                    "score",
                    "interactionCounts"
                ]
            },
            "CommentLikeV3PostRequest": {
                "type": "object",
                "properties": {
                    "comment": {
                        "type": "string",
                        "description": "The GUID of the comment being liked."
                    },
                    "blogPost": {
                        "type": "string",
                        "description": "The GUID of the post the comment is on."
                    }
                },
                "required": [
                    "comment",
                    "blogPost"
                ]
            },
            "ContentCreatorListV3Response": {
                "type": "object",
                "properties": {
                    "blogPosts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogPostModelV3"
                        }
                    },
                    "lastElements": {
                        "type": "array",
                        "description": "Information about paging: what the last ID retrieve is and if more posts can be retrieved afterward for subsequent requests.",
                        "items": {
                            "$ref": "#/components/schemas/ContentCreatorListLastItems"
                        }
                    }
                },
                "required": [
                    "blogPosts",
                    "lastElements"
                ]
            },
            "ContentCreatorListLastItems": {
                "type": "object",
                "properties": {
                    "creatorId": {
                        "type": "string"
                    },
                    "blogPostId": {
                        "type": "string",
                        "description": "This may be returned as `null` if no blog posts for this creator appeared yet on this page of blog posts. However, Floatplane will complain if this is sent with a `null` value.",
                        "nullable": true
                    },
                    "moreFetchable": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "creatorId",
                    "blogPostId",
                    "moreFetchable"
                ]
            },
            "ContentPostV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string",
                        "description": "Text description of the post. May have HTML paragraph (`<p>`) tags surrounding it, along with other HTML."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "blogPost"
                        ]
                    },
                    "channel": {
                        "$ref": "#/components/schemas/ChannelModel"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "attachmentOrder": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PostMetadataModel"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "comments": {
                        "type": "integer"
                    },
                    "creator": {
                        "$ref": "#/components/schemas/CreatorModelV2"
                    },
                    "wasReleasedSilently": {
                        "type": "boolean"
                    },
                    "thumbnail": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        ],
                        "nullable": true
                    },
                    "isAccessible": {
                        "type": "boolean",
                        "description": "If false, the post should be marked as locked and not viewable by the user."
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    },
                    "videoAttachments": {
                        "type": "array",
                        "description": "May be undefined when the post is locked.",
                        "items": {
                            "$ref": "#/components/schemas/VideoAttachmentModel"
                        }
                    },
                    "audioAttachments": {
                        "type": "array",
                        "description": "May be undefined when the post is locked.",
                        "items": {
                            "$ref": "#/components/schemas/AudioAttachmentModel"
                        }
                    },
                    "pictureAttachments": {
                        "type": "array",
                        "description": "May be undefined when the post is locked.",
                        "items": {
                            "$ref": "#/components/schemas/PictureAttachmentModel"
                        }
                    },
                    "galleryAttachments": {
                        "type": "array",
                        "description": "May be undefined when the post is locked.",
                        "items": {}
                    }
                },
                "required": [
                    "id",
                    "guid",
                    "title",
                    "text",
                    "type",
                    "channel",
                    "tags",
                    "attachmentOrder",
                    "metadata",
                    "releaseDate",
                    "likes",
                    "dislikes",
                    "score",
                    "comments",
                    "creator",
                    "wasReleasedSilently",
                    "thumbnail",
                    "isAccessible",
                    "userInteraction"
                ]
            },
            "ContentVideoV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "duration": {
                        "type": "number",
                        "description": "Unit: seconds."
                    },
                    "creator": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "isProcessing": {
                        "type": "boolean"
                    },
                    "primaryBlogPost": {
                        "type": "string"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean",
                        "description": "If false, the post should be marked as locked and not viewable by the user."
                    },
                    "blogPosts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "timelineSprite": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "progress": {
                        "type": "integer",
                        "description": "The watch progress of the video, in seconds. If no progress has yet been posted to the video, then this field may not appear."
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    },
                    "levels": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "width": {
                                    "type": "integer"
                                },
                                "height": {
                                    "type": "integer"
                                },
                                "label": {
                                    "type": "string"
                                },
                                "order": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "name",
                                "width",
                                "height",
                                "label",
                                "order"
                            ]
                        }
                    }
                },
                "required": [
                    "id",
                    "guid",
                    "title",
                    "type",
                    "description",
                    "releaseDate",
                    "duration",
                    "creator",
                    "likes",
                    "dislikes",
                    "score",
                    "isProcessing",
                    "primaryBlogPost",
                    "thumbnail",
                    "isAccessible",
                    "blogPosts",
                    "timelineSprite",
                    "userInteraction",
                    "levels"
                ]
            },
            "ContentPictureV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "isProcessing": {
                        "type": "boolean"
                    },
                    "creator": {
                        "type": "string"
                    },
                    "primaryBlogPost": {
                        "type": "string"
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean",
                        "description": "If false, the post should be marked as locked and not viewable by the user."
                    },
                    "imageFiles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ImageFileModel"
                        }
                    }
                },
                "required": [
                    "creator",
                    "description",
                    "dislikes",
                    "guid",
                    "id",
                    "imageFiles",
                    "isAccessible",
                    "isProcessing",
                    "likes",
                    "primaryBlogPost",
                    "userInteraction",
                    "score",
                    "thumbnail",
                    "title",
                    "type"
                ]
            },
            "UserActivityV3Response": {
                "type": "object",
                "properties": {
                    "activity": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "time": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "comment": {
                                    "type": "string"
                                },
                                "postTitle": {
                                    "type": "string"
                                },
                                "postId": {
                                    "type": "string"
                                },
                                "creatorTitle": {
                                    "type": "string"
                                },
                                "creatorUrl": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "time",
                                "comment",
                                "postTitle",
                                "postId",
                                "creatorTitle",
                                "creatorUrl"
                            ]
                        }
                    },
                    "visibility": {
                        "type": "string"
                    }
                },
                "required": [
                    "activity",
                    "visibility"
                ]
            },
            "UserLinksV3Response": {
                "type": "object",
                "additionalProperties": {
                    "type": "object",
                    "properties": {
                        "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URL the user has configured for this link."
                        },
                        "type": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "The code name of this link type."
                                },
                                "displayName": {
                                    "type": "string",
                                    "description": "The display-friendly name of this link type."
                                },
                                "hostName": {
                                    "type": "string",
                                    "description": "The hostname that should be a part of the URL."
                                }
                            },
                            "required": [
                                "name",
                                "displayName",
                                "hostName"
                            ]
                        }
                    },
                    "required": [
                        "url",
                        "type"
                    ]
                }
            },
            "UserNotificationUpdateV3PostRequest": {
                "type": "object",
                "properties": {
                    "creator": {
                        "type": "string"
                    },
                    "property": {
                        "type": "string",
                        "enum": [
                            "contentEmail",
                            "contentFirebase"
                        ],
                        "description": "Use `contentEmail` for email notifications, and `contentFirebase` for push notifications."
                    },
                    "newValue": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "creator",
                    "property",
                    "newValue"
                ]
            },
            "UserSelfV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "profileImage": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "email": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "creators": {
                        "type": "array",
                        "items": {}
                    },
                    "scheduledDeletionDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "required": [
                    "id",
                    "username",
                    "profileImage",
                    "email",
                    "displayName",
                    "creators",
                    "scheduledDeletionDate"
                ]
            },
            "ContentLikeV3Request": {
                "type": "object",
                "properties": {
                    "contentType": {
                        "type": "string",
                        "enum": [
                            "blogPost"
                        ]
                    },
                    "id": {
                        "type": "string"
                    }
                },
                "required": [
                    "contentType",
                    "id"
                ]
            },
            "GetCaptchaInfoResponse": {
                "type": "object",
                "properties": {
                    "v2": {
                        "type": "object",
                        "properties": {
                            "variants": {
                                "type": "object",
                                "properties": {
                                    "android": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    },
                                    "checkbox": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    },
                                    "invisible": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    }
                                },
                                "required": [
                                    "android",
                                    "checkbox",
                                    "invisible"
                                ]
                            }
                        },
                        "required": [
                            "variants"
                        ]
                    },
                    "v3": {
                        "type": "object",
                        "properties": {
                            "variants": {
                                "type": "object",
                                "properties": {
                                    "invisible": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    }
                                },
                                "required": [
                                    "invisible"
                                ]
                            }
                        },
                        "required": [
                            "variants"
                        ]
                    }
                },
                "required": [
                    "v2",
                    "v3"
                ]
            },
            "ErrorModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "May be undefined.",
                                    "nullable": true
                                },
                                "data": {
                                    "type": "object",
                                    "description": "May be undefined.",
                                    "nullable": true,
                                    "additionalProperties": true
                                }
                            },
                            "required": [
                                "id",
                                "name"
                            ]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "May be undefined."
                    }
                },
                "required": [
                    "id",
                    "errors"
                ]
            },
            "PaymentAddressModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "customerName": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "line1": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "default": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "id",
                    "customerName",
                    "postalCode",
                    "line1",
                    "city",
                    "region",
                    "country",
                    "default"
                ]
            },
            "PaymentMethodModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "payment_processor": {
                        "type": "integer"
                    },
                    "default": {
                        "type": "boolean"
                    },
                    "card": {
                        "type": "object",
                        "properties": {
                            "brand": {
                                "type": "string"
                            },
                            "last4": {
                                "type": "string"
                            },
                            "exp_month": {
                                "type": "integer"
                            },
                            "exp_year": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "brand",
                            "last4",
                            "exp_month",
                            "exp_year",
                            "name"
                        ]
                    }
                },
                "required": [
                    "id",
                    "payment_processor",
                    "default",
                    "card"
                ]
            },
            "CreatorModelV2": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "owner": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "urlname": {
                        "type": "string",
                        "description": "Shown in the browser URL, and used in `/creator/named` queries."
                    },
                    "description": {
                        "type": "string"
                    },
                    "about": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "cover": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        ],
                        "nullable": true
                    },
                    "icon": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "liveStream": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/LiveStreamModel"
                            }
                        ],
                        "nullable": true
                    },
                    "subscriptionPlans": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                            "$ref": "#/components/schemas/SubscriptionPlanModel"
                        }
                    },
                    "discoverable": {
                        "type": "boolean"
                    },
                    "subscriberCountDisplay": {
                        "type": "string"
                    },
                    "incomeDisplay": {
                        "type": "boolean"
                    },
                    "defaultChannel": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "owner",
                    "title",
                    "urlname",
                    "description",
                    "about",
                    "category",
                    "cover",
                    "icon",
                    "liveStream",
                    "subscriptionPlans",
                    "discoverable",
                    "subscriberCountDisplay",
                    "incomeDisplay"
                ]
            },
            "CreatorModelV2Extended": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CreatorModelV2"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "socialLinks": {
                                "$ref": "#/components/schemas/SocialLinksModel"
                            },
                            "discordServers": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DiscordServerModel"
                                }
                            }
                        },
                        "required": [
                            "socialLinks",
                            "discordServers"
                        ]
                    }
                ]
            },
            "CreatorModelV3": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "owner": {
                        "oneOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "username": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id",
                                    "username"
                                ]
                            }
                        ]
                    },
                    "title": {
                        "type": "string"
                    },
                    "urlname": {
                        "type": "string",
                        "description": "Shown in the browser URL, and used in `/creator/named` queries."
                    },
                    "description": {
                        "type": "string"
                    },
                    "about": {
                        "type": "string"
                    },
                    "category": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "id",
                            "title"
                        ]
                    },
                    "cover": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        ],
                        "nullable": true
                    },
                    "icon": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "liveStream": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/LiveStreamModel"
                            }
                        ],
                        "nullable": true
                    },
                    "subscriptionPlans": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                            "$ref": "#/components/schemas/SubscriptionPlanModel"
                        }
                    },
                    "discoverable": {
                        "type": "boolean"
                    },
                    "subscriberCountDisplay": {
                        "type": "string"
                    },
                    "incomeDisplay": {
                        "type": "boolean"
                    },
                    "defaultChannel": {
                        "type": "string"
                    },
                    "socialLinks": {
                        "$ref": "#/components/schemas/SocialLinksModel"
                    },
                    "channels": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChannelModel"
                        }
                    },
                    "discordServers": {
                        "type": "array",
                        "description": "Present in `/creator/named` queries",
                        "items": {
                            "$ref": "#/components/schemas/DiscordServerModel"
                        }
                    },
                    "card": {
                        "$ref": "#/components/schemas/ImageModel"
                    }
                },
                "required": [
                    "id",
                    "owner",
                    "title",
                    "urlname",
                    "description",
                    "about",
                    "category",
                    "cover",
                    "icon",
                    "liveStream",
                    "subscriptionPlans",
                    "discoverable",
                    "subscriberCountDisplay",
                    "incomeDisplay",
                    "defaultChannel",
                    "socialLinks",
                    "channels"
                ]
            },
            "ChannelModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "creator": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "urlname": {
                        "type": "string",
                        "description": "Shown in the browser URL."
                    },
                    "about": {
                        "type": "string"
                    },
                    "order": {
                        "type": "integer"
                    },
                    "cover": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        ],
                        "nullable": true
                    },
                    "card": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        ],
                        "nullable": true
                    },
                    "icon": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "socialLinks": {
                        "$ref": "#/components/schemas/SocialLinksModel"
                    }
                },
                "required": [
                    "id",
                    "creator",
                    "title",
                    "urlname",
                    "about",
                    "cover",
                    "card",
                    "icon"
                ]
            },
            "BlogPostModelV3": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string",
                        "description": "Text description of the post. May have HTML paragraph (`<p>`) tags surrounding it, along with other HTML.."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "blogPost"
                        ]
                    },
                    "channel": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ChannelModel"
                            },
                            {
                                "type": "string",
                                "description": "Channel identifier"
                            }
                        ]
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "attachmentOrder": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PostMetadataModel"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "comments": {
                        "type": "integer"
                    },
                    "creator": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "owner": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "username": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id",
                                    "username"
                                ]
                            },
                            "title": {
                                "type": "string"
                            },
                            "urlname": {
                                "type": "string",
                                "description": "Shown in the browser URL, and used in `/creator/named` queries."
                            },
                            "description": {
                                "type": "string"
                            },
                            "about": {
                                "type": "string"
                            },
                            "category": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id",
                                    "title"
                                ]
                            },
                            "cover": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ImageModel"
                                    }
                                ],
                                "nullable": true
                            },
                            "icon": {
                                "$ref": "#/components/schemas/ImageModel"
                            },
                            "liveStream": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LiveStreamModel"
                                    }
                                ],
                                "nullable": true
                            },
                            "subscriptionPlans": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SubscriptionPlanModel"
                                }
                            },
                            "discoverable": {
                                "type": "boolean"
                            },
                            "subscriberCountDisplay": {
                                "type": "string"
                            },
                            "incomeDisplay": {
                                "type": "boolean"
                            },
                            "defaultChannel": {
                                "type": "string"
                            },
                            "channels": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "card": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ImageModel"
                                    }
                                ],
                                "nullable": true
                            }
                        },
                        "required": [
                            "id",
                            "owner",
                            "title",
                            "urlname",
                            "description",
                            "about",
                            "category",
                            "cover",
                            "icon",
                            "liveStream",
                            "subscriptionPlans",
                            "discoverable",
                            "subscriberCountDisplay",
                            "incomeDisplay"
                        ]
                    },
                    "wasReleasedSilently": {
                        "type": "boolean"
                    },
                    "thumbnail": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        ],
                        "nullable": true
                    },
                    "isAccessible": {
                        "type": "boolean",
                        "description": "If false, the post should be marked as locked and not viewable by the user."
                    },
                    "videoAttachments": {
                        "type": "array",
                        "description": "May be undefined, usually when `isAccessible` is `false`.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "audioAttachments": {
                        "type": "array",
                        "description": "May be undefined, usually when `isAccessible` is `false`.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "pictureAttachments": {
                        "type": "array",
[...]
