{
    "openapi": "3.0.3",
    "info": {
        "title": "Floatplane REST API",
        "version": "3.8.9",
        "description": "Homepage: [https://jman012.github.io/FloatplaneAPIDocs](https://jman012.github.io/FloatplaneAPIDocs)\r\n\r\nThis document describes the REST API layer of [https://www.floatplane.com](https://www.floatplane.com), a content creation and video streaming website created by Floatplane Media Inc. and Linus Media Group, where users can support their favorite creates via paid subscriptions in order to watch their video and livestream content in higher quality and other perks.\r\n\r\nWhile this document contains stubs for all of the Floatplane APIs for this version, many are not filled out because they are related only to content creation, moderation, or administration and are not needed for regular use. These have \"TODO\" as the description, and are automatically removed before document generation. If you are viewing the \"Trimmed\" version of this document, they have been removed for brevity.\r\n\r\n## API Object Organization\r\n\r\n- **Users** and **Creators** exist on Floatplane at the highest level\r\n\t- The highest-level object in Floatplane is the Creator. This is an entity, such as Linus Tech Tips, that produces media for Users.\r\n- A Creator owns one or more **Subscription Plans**\r\n- A User can view a Creator's Content if they are subscribed to them\r\n- A Creator publishes **Content**, in the form of **Blog Posts**\r\n\t- Content is produced by Creators, and show up for subscribed Users to view when it is released. A piece of Content is meant to be generic, and may contain different types of sub-Content. Currently, the only type is a Blog Post.\r\n\t- A Blog Post is the main type of Content that a Creator produces. Blog Posts are how a Creator can share text and/or media attachments with their subscribers.\r\n- A Blog Post is comprised of one or more of: video, audio, picture, or gallery **Attachments**\r\n\t- A media Attachment may be: video, audio, picture, gallery. Attachments are a part of Blog Posts, and are in a particular order.\r\n- A Creator may also have a single **Livestream**\r\n\r\n## API Flow\r\n\r\nAs of Floatplane version 3.5.1, these are the recommended endpoints to use for normal operations.\r\n\r\n1. Login\r\n\t1. `/api/v3/auth/captcha/info` - Get captcha information\r\n\t1. `/api/v2/auth/login` - Login with username, password, and optional captcha token\r\n\t1. `/api/v2/auth/checkFor2faLogin` - Optionally provide 2FA token to complete login\r\n\t1. `/api/v2/auth/logout` - Logout at a later point in time\r\n1. Home page\r\n\t1. `/api/v3/user/subscriptions` - Get the user's active subscriptions\r\n\t1. `/api/v3/content/creator/list` - Using the subscriptions, show a home page with content from all subscriptions\r\n\t\t1. Supply all creator identifiers from the subscriptions\r\n\t\t1. This should be paginated\r\n\t1. `/api/v2/creator/info` - Also show a list of creators that the user can select\r\n\t\t1. Note that this can search and return multiple creators. The V3 version only works for a single creator at a time.\r\n1. Creator page\r\n\t1. `/api/v3/creator/info` - Get more details for the creator to display, including if livestreams are available\r\n\t1. `/api/v3/content/creator` - Show recent content by the creator\r\n\t1. `/api/v2/plan/info` - Show available plans the user can subscribe to for the creator\r\n1. Content page\r\n\t1. `/api/v3/content/post` - Show more detailed information about a piece of content, including text description, available attachments, metadata, interactions, etc.\r\n\t1. `/api/v3/content/related` - List some related content for the user to watch next\r\n\t1. `/api/v3/comment` - Load comments for the content for the user to read\r\n\t\t1. There are several more comment APIs to post, like, dislike, etc.\r\n\t1. `/api/v2/user/ban/status` - Determine if the user is banned from this creator\r\n\t1. `/api/v3/content/{video|audio|picture|gallery}` - Load the attached media for the post. This is usually video, but audio, pictures, and galleries are also available.\r\n\t1. `/api/v2/cdn/delivery` - For video and audio, this is required to get the information to stream or download the content in media players\r\n1. Livestream\r\n\t1. `/api/v2/cdn/delivery` - Using the type \"livestream\" to load the livestream media in a media player\r\n\t1. `wss://chat.floatplane.com/sails.io/?...` - To connect to the livestream chat over websocket. TODO: Map out the WebSocket API.\r\n1. User Profile\r\n\t1. `/api/v3/user/self` - Display username, name, email, and profile pictures\r\n\r\n## API Organization\r\n\r\nThe organization of APIs into categories in this document are reflected from the internal organization of the Floatplane website bundled code, from `frontend.floatplane.com/{version}/vendor.js`. This is in order to use the best organization from the original developers' point of view.\r\n\r\nFor instance, Floatplane's authentication endpoints are organized into `Auth.v2.login(...)`, `Auth.v2.logout()`, and `Auth.v3.getCaptchaInfo()`. A limitation in OpenAPI is the lack of nested tagging/structure, so this document splits `Auth` into `AuthV2` and `AuthV3` to emulate the nested structure.\r\n\r\n## Notes\r\n\r\nNote that the Floatplane API does support the use of [ETags](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) for retrieving some information, such as retrieving information about creators, users, etc. Expect an HTTP 304 if the content has not changed, and to re-use cached responses. This is useful to ease the strain on Floatplane's API server.\r\n\r\nThe date-time format used by Floatplane API is not standard ISO 8601 format. The dates/times given by Floatplane include milliseconds. Depending on your code generator, you may need to override the date-time format to something similar to `yyyy-MM-dd'T'HH:mm:ss.SSSZ`, for both encoding and decoding.",
        "license": {
            "name": "MIT",
            "url": "https://github.com/Jman012/FloatplaneAPI/blob/main/LICENSE"
        },
        "contact": {
            "name": "James Linnell",
            "url": "https://github.com/Jman012/FloatplaneAPI/"
        }
    },
    "servers": [
        {
            "url": "https://www.floatplane.com"
        }
    ],
    "tags": [
        {
            "name": "AuthV2",
            "description": "Sign up, login, 2FA, and logout. Additionally, login spoofing for administrators."
        },
        {
            "name": "AuthV3",
            "description": "Captchas information."
        },
        {
            "name": "CDNV2",
            "description": "Content Delivery mechanisms for Floatplane media."
        },
        {
            "name": "ConnectedAccountsV2",
            "description": "3rd party account management, such as Discord or LTT Forums."
        },
        {
            "name": "CreatorV2",
            "description": "Get and discover creators on the platform. Creator invitation and profile management."
        },
        {
            "name": "CreatorV3",
            "description": "Get and discover creators on the platform. Creator invitation and profile management."
        },
        {
            "name": "CreatorSubscriptionPlanV2",
            "description": "Manage creator subscription plans."
        },
        {
            "name": "FAQV2",
            "description": "Get FAQs."
        },
        {
            "name": "PaymentsV2",
            "description": "User payment method/address/invoice management."
        },
        {
            "name": "SubscriptionsV3",
            "description": "Get user subscriptions."
        },
        {
            "name": "UserV2",
            "description": "User discovery and profile management."
        },
        {
            "name": "UserV3",
            "description": "User discovery and profile management."
        },
        {
            "name": "CommentV3",
            "description": "Comment retrieval, posting, and interacting."
        },
        {
            "name": "ContentV3",
            "description": "Content retrieval and interacting."
        },
        {
            "name": "LoyaltyRewardsV3",
            "description": "Loyalty rewards information and claiming."
        }
    ],
    "components": {
        "schemas": {
            "AuthLoginV2Request": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "captchaToken": {
                        "type": "string",
                        "description": "The Google Recaptcha v2/v3 token to verify the request. On web browsers, this is required. For mobile or TV applications, this is not required only if the User-Agent indicates so (e.g., if the User-Agent contains \"CFNetwork\" in its value). Otherwise, the application would have to supply a valid captcha token, which can be difficult to obtain dynamically in some scenarios."
                    }
                },
                "required": [
                    "username",
                    "password"
                ]
            },
            "AuthLoginV2Response": {
                "type": "object",
                "properties": {
                    "user": {
                        "$ref": "#/components/schemas/UserModel"
                    },
                    "needs2FA": {
                        "type": "boolean",
                        "description": "If true, the user has not yet been authenticated, and will need to submit the 2FA token to complete authentication."
                    }
                },
                "required": [
                    "needs2FA"
                ]
            },
            "CheckFor2faLoginRequest": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "The two-factor authentication token that the user inputs to complete the login process."
                    }
                }
            },
            "CdnDeliveryV2Response": {
                "type": "object",
                "properties": {
                    "cdn": {
                        "type": "string",
                        "description": "The domain of the CDN server to use."
                    },
                    "strategy": {
                        "type": "string"
                    },
                    "resource": {
                        "type": "object",
                        "properties": {
                            "uri": {
                                "type": "string",
                                "description": "The path to attach to the `cdn` property above. Replace the items surrounded by curly braces (`{`, `}`) with the appropriate values from the `data` property, depending on chosen resolution. First, choose the `qualityLevel`, then use the given token from the `qualityLevelParam` for that `qualityLevel`'s `name`."
                            },
                            "data": {
                                "type": "object",
                                "properties": {
                                    "qualityLevels": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "description": "Represents a quality of video to download",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "description": "Used to identify this level of quality, and to refer to the `qualityLevelParams` object below by the property key."
                                                },
                                                "width": {
                                                    "type": "integer",
                                                    "description": "The video quality's resolution's width in pixels."
                                                },
                                                "height": {
                                                    "type": "integer",
                                                    "description": "The video quality resolution's height in pixels."
                                                },
                                                "label": {
                                                    "type": "string",
                                                    "description": "The display-friendly version of `name`."
                                                },
                                                "order": {
                                                    "type": "integer",
                                                    "description": "The display order to be shown to the user."
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "width",
                                                "height",
                                                "label",
                                                "order"
                                            ]
                                        }
                                    },
                                    "qualityLevelParams": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "token"
                                            ]
                                        }
                                    },
                                    "token": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "required": [
                            "url",
                            "data"
                        ]
                    }
                },
                "required": [
                    "cdn",
                    "strategy",
                    "resource"
                ]
            },
            "PaymentInvoiceListV2Response": {
                "type": "object",
                "properties": {
                    "invoices": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "amountDue": {
                                    "type": "number"
                                },
                                "amountTax": {
                                    "type": "number"
                                },
                                "attemptCount": {
                                    "type": "integer"
                                },
                                "currency": {
                                    "type": "string"
                                },
                                "date": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "dateDue": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "periodStart": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "periodEnd": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "nextPaymentAttempt": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "paid": {
                                    "type": "boolean"
                                },
                                "forgiven": {
                                    "type": "boolean"
                                },
                                "refunded": {
                                    "type": "boolean"
                                },
                                "subscriptions": {
                                    "type": "array",
                                    "description": "The subscriptions this invoice is in reference to.",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "subscription": {
                                                "type": "number"
                                            },
                                            "periodStart": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "periodEnd": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "value": {
                                                "type": "number"
                                            },
                                            "amountSubtotal": {
                                                "type": "number"
                                            },
                                            "amountTotal": {
                                                "type": "number"
                                            },
                                            "amountTax": {
                                                "type": "number"
                                            },
                                            "plan": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "creator": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "urlname": {
                                                                "type": "string"
                                                            },
                                                            "icon": {
                                                                "$ref": "#/components/schemas/ImageModel"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "title",
                                                            "urlname",
                                                            "icon"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "title",
                                                    "creator"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "subscription",
                                            "periodStart",
                                            "periodEnd",
                                            "value",
                                            "amountSubtotal",
                                            "amountTotal",
                                            "amountTax",
                                            "plan"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "id",
                                "amountDue",
                                "amountTax",
                                "attemptCount",
                                "currency",
                                "date",
                                "periodStart",
                                "periodEnd",
                                "nextPaymentAttempt",
                                "paid",
                                "forgiven",
                                "refunded"
                            ]
                        }
                    }
                },
                "required": [
                    "invoices"
                ]
            },
            "PlanInfoV2Response": {
                "type": "object",
                "properties": {
                    "totalSubscriberCount": {
                        "type": "integer",
                        "description": "The total number of subscribers for this creator."
                    },
                    "totalIncome": {
                        "type": "string",
                        "description": "The total amount of monthly income for this creator. This field tends to always be $0 for regular users."
                    },
                    "plans": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "discordRoles": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DiscordRoleModel"
                                    },
                                    "description": "The available roles for the associated Discord servers that are available with this plan."
                                },
                                "createdAt": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "updatedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "title": {
                                    "type": "string"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "featured": {
                                    "type": "boolean"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "price": {
                                    "type": "string"
                                },
                                "priceYearly": {
                                    "type": "string"
                                },
                                "paymentID": {
                                    "type": "integer"
                                },
                                "currency": {
                                    "type": "string"
                                },
                                "trialPeriod": {
                                    "type": "number"
                                },
                                "allowGrandfatheredAccess": {
                                    "type": "boolean"
                                },
                                "logo": {
                                    "type": "string"
                                },
                                "creator": {
                                    "type": "string"
                                },
                                "discordServers": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DiscordServerModel"
                                    }
                                },
                                "userIsSubscribed": {
                                    "type": "boolean"
                                },
                                "userIsGrandfathered": {
                                    "type": "boolean"
                                },
                                "enabledGlobal": {
                                    "type": "boolean"
                                },
                                "interval": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "discordRoles",
                                "createdAt",
                                "updatedAt",
                                "id",
                                "title",
                                "enabled",
                                "featured",
                                "description",
                                "price",
                                "paymentID",
                                "currency",
                                "trialPeriod",
                                "logo",
                                "creator",
                                "discordServers",
                                "userIsSubscribed",
                                "userIsGrandfathered",
                                "enabledGlobal",
                                "interval"
                            ]
                        }
                    }
                },
                "required": [
                    "totalSuscriberCount",
                    "plans"
                ]
            },
            "UserInfoV2Response": {
                "type": "object",
                "properties": {
                    "users": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/components/schemas/UserModel"
                                }
                            },
                            "required": [
                                "id",
                                "user"
                            ]
                        }
                    }
                },
                "required": [
                    "users"
                ]
            },
            "UserNamedV2Response": {
                "type": "object",
                "properties": {
                    "users": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/components/schemas/UserSelfModel"
                                }
                            },
                            "required": [
                                "id",
                                "user"
                            ]
                        }
                    }
                },
                "required": [
                    "users"
                ]
            },
            "UserSecurityV2Response": {
                "type": "object",
                "properties": {
                    "twofactorEnabled": {
                        "type": "boolean"
                    },
                    "twofactorBackupCodeEnabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "twofactorEnabled",
                    "twofactorBackupCodeEnabled"
                ]
            },
            "CommentV3PostRequest": {
                "type": "object",
                "properties": {
                    "blogPost": {
                        "type": "string",
                        "description": "The GUID of the blogPost the comment should be posted to."
                    },
                    "text": {
                        "type": "string",
                        "description": "The text of the comment being posted."
                    }
                },
                "required": [
                    "blogPost",
                    "text"
                ]
            },
            "CommentV3PostResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "blogPost": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserModel"
                    },
                    "contentReference": {
                        "type": "string"
                    },
                    "contentReferenceType": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "replying": {
                        "type": "string"
                    },
                    "postDate": {
                        "type": "string"
                    },
                    "editDate": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "interactionCounts": {
                        "type": "object",
                        "properties": {
                            "like": {
                                "type": "integer"
                            },
                            "dislike": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "like",
                            "dislike"
                        ]
                    }
                },
                "required": [
                    "id",
                    "blogPost",
                    "user",
                    "contentReference",
                    "contentReferenceType",
                    "text",
                    "replying",
                    "postDate",
                    "editDate",
                    "likes",
                    "dislikes",
                    "score",
                    "interactionCounts"
                ]
            },
            "CommentLikeV3PostRequest": {
                "type": "object",
                "properties": {
                    "comment": {
                        "type": "string",
                        "description": "The GUID of the comment being liked."
                    },
                    "blogPost": {
                        "type": "string",
                        "description": "The GUID of the post the comment is on."
                    }
                },
                "required": [
                    "comment",
                    "blogPost"
                ]
            },
            "ContentCreatorListV3Response": {
                "type": "object",
                "properties": {
                    "blogPosts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogPostModelV3"
                        }
                    },
                    "lastElements": {
                        "type": "array",
                        "description": "Information about paging: what the last ID retrieve is and if more posts can be retrieved afterward for subsequent requests.",
                        "items": {
                            "$ref": "#/components/schemas/ContentCreatorListLastItems"
                        }
                    }
                },
                "required": [
                    "blogPosts",
                    "lastElements"
                ]
            },
            "ContentCreatorListLastItems": {
                "type": "object",
                "properties": {
                    "creatorId": {
                        "type": "string"
                    },
                    "blogPostId": {
                        "type": "string",
                        "description": "This may be `null` if no blog posts for this creator appeared yet on this page of blog posts."
                    },
                    "moreFetchable": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "creatorId",
                    "moreFetchable"
                ]
            },
            "ContentPostV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string",
                        "description": "Text description of the post. May have HTML paragraph (`<p>`) tags surrounding it, along with other HTML.."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "blogPost"
                        ]
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "attachmentOrder": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PostMetadataModel"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "comments": {
                        "type": "integer"
                    },
                    "creator": {
                        "$ref": "#/components/schemas/CreatorModelV2"
                    },
                    "wasReleasedSilently": {
                        "type": "boolean"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean"
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    },
                    "videoAttachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/VideoAttachmentModel"
                        }
                    },
                    "audioAttachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AudioAttachmentModel"
                        }
                    },
                    "pictureAttachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PictureAttachmentModel"
                        }
                    },
                    "galleryAttachments": {
                        "type": "array",
                        "items": {}
                    }
                },
                "required": [
                    "id",
                    "guid",
                    "title",
                    "text",
                    "type",
                    "tags",
                    "attachmentOrder",
                    "metadata",
                    "releaseDate",
                    "likes",
                    "dislikes",
                    "score",
                    "comments",
                    "creator",
                    "wasReleasedSilently",
                    "thumbnail",
                    "isAccessible",
                    "videoAttachments",
                    "audioAttachments",
                    "pictureAttachments",
                    "galleryAttachments"
                ]
            },
            "ContentVideoV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "duration": {
                        "type": "number",
                        "description": "Unit: seconds."
                    },
                    "creator": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "isProcessing": {
                        "type": "boolean"
                    },
                    "primaryBlogPost": {
                        "type": "string"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean"
                    },
                    "blogPosts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "timelineSprite": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    },
                    "levels": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "width": {
                                    "type": "integer"
                                },
                                "height": {
                                    "type": "integer"
                                },
                                "label": {
                                    "type": "string"
                                },
                                "order": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "name",
                                "width",
                                "height",
                                "label",
                                "order"
                            ]
                        }
                    }
                },
                "required": [
                    "id",
                    "guid",
                    "title",
                    "type",
                    "description",
                    "releaseDate",
                    "duration",
                    "creator",
                    "likes",
                    "dislikes",
                    "score",
                    "isProcessing",
                    "primaryBlogPost",
                    "thumbnail",
                    "isAccessible",
                    "blogPosts",
                    "timelineSprite",
                    "levels"
                ]
            },
            "ContentPictureV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "isProcessing": {
                        "type": "boolean"
                    },
                    "creator": {
                        "type": "string"
                    },
                    "primaryBlogPost": {
                        "type": "string"
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean"
                    },
                    "imageFiles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ImageModel"
                        }
                    }
                },
                "required": [
                    "creator",
                    "description",
                    "dislikes",
                    "guid",
                    "id",
                    "imageFiles",
                    "isAccessible",
                    "isProcessing",
                    "likes",
                    "primaryBlogPost",
                    "score",
                    "thumbnail",
                    "title",
                    "type"
                ]
            },
            "UserActivityV3Response": {
                "type": "object",
                "properties": {
                    "activity": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "time": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "comment": {
                                    "type": "string"
                                },
                                "postTitle": {
                                    "type": "string"
                                },
                                "postId": {
                                    "type": "string"
                                },
                                "creatorTitle": {
                                    "type": "string"
                                },
                                "creatorUrl": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "time",
                                "comment",
                                "posttitle",
                                "postId",
                                "creatorTitle",
                                "creatorUrl"
                            ]
                        }
                    },
                    "visibility": {
                        "type": "string"
                    }
                },
                "required": [
                    "activity",
                    "visibility"
                ]
            },
            "UserLinksV3Response": {
                "type": "object",
                "additionalProperties": {
                    "type": "object",
                    "properties": {
                        "url": {
                            "type": "string",
                            "description": "The URL the user has configured for this link."
                        },
                        "type": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "The code name of this link type."
                                },
                                "displayName": {
                                    "type": "string",
                                    "description": "The display-friendly name of this link type."
                                },
                                "hostName": {
                                    "type": "string",
                                    "description": "The hostname that should be a part of the URL."
                                }
                            }
                        }
                    }
                }
            },
            "UserNotificationUpdateV3PostRequest": {
                "type": "object",
                "properties": {
                    "creator": {
                        "type": "string"
                    },
                    "property": {
                        "type": "string",
                        "enum": [
                            "contentEmail",
                            "contentFirebase"
                        ],
                        "description": "Use `contentEmail` for email notifications, and `contentFirebase` for push notifications."
                    },
                    "newValue": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "creator",
                    "property",
                    "newValue"
                ]
            },
            "UserSelfV3Response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "profileImage": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "email": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "creators": {
                        "type": "array",
                        "items": {}
                    },
                    "scheduledDeletionDate": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "username",
                    "profileImage"
                ]
            },
            "ContentLikeV3Request": {
                "type": "object",
                "properties": {
                    "contentType": {
                        "type": "string",
                        "enum": [
                            "blogPost"
                        ]
                    },
                    "id": {
                        "type": "string"
                    }
                },
                "required": [
                    "contentType",
                    "id"
                ]
            },
            "GetCaptchaInfoResponse": {
                "type": "object",
                "properties": {
                    "v2": {
                        "type": "object",
                        "properties": {
                            "variants": {
                                "type": "object",
                                "properties": {
                                    "android": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    },
                                    "checkbox": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    },
                                    "invisible": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    }
                                },
                                "required": [
                                    "android",
                                    "checkbox",
                                    "invisible"
                                ]
                            }
                        },
                        "required": [
                            "variants"
                        ]
                    },
                    "v3": {
                        "type": "object",
                        "properties": {
                            "variants": {
                                "type": "object",
                                "properties": {
                                    "invisible": {
                                        "type": "object",
                                        "properties": {
                                            "siteKey": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "siteKey"
                                        ]
                                    }
                                },
                                "required": [
                                    "invisible"
                                ]
                            }
                        },
                        "required": [
                            "variants"
                        ]
                    }
                },
                "required": [
                    "v2",
                    "v3"
                ]
            },
            "ErrorModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "data": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            },
                            "required": [
                                "id",
                                "name"
                            ]
                        }
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "errors"
                ]
            },
            "PaymentAddressModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "customerName": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "line1": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "default": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "id",
                    "customerName",
                    "postalCode",
                    "line1",
                    "city",
                    "region",
                    "country",
                    "default"
                ]
            },
            "PaymentMethodModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "payment_processor": {
                        "type": "integer"
                    },
                    "default": {
                        "type": "boolean"
                    },
                    "card": {
                        "type": "object",
                        "properties": {
                            "brand": {
                                "type": "string"
                            },
                            "last4": {
                                "type": "string"
                            },
                            "exp_month": {
                                "type": "integer"
                            },
                            "exp_year": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "brand",
                            "last4",
                            "exp_month",
                            "exp_year",
                            "name"
                        ]
                    }
                },
                "required": [
                    "id",
                    "payment_processor",
                    "default",
                    "card"
                ]
            },
            "CreatorModelV2": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "owner": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "urlname": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "about": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "cover": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "icon": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "liveStream": {
                        "$ref": "#/components/schemas/LiveStreamModel"
                    },
                    "subscriptionPlans": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "discoverable": {
                        "type": "boolean"
                    },
                    "subscriberCountDisplay": {
                        "type": "string"
                    },
                    "incomeDisplay": {
                        "type": "boolean"
                    },
                    "socialLinks": {
                        "$ref": "#/components/schemas/SocialLinksModel"
                    },
                    "discordServers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DiscordServerModel"
                        }
                    }
                },
                "required": [
                    "id",
                    "owner",
                    "title",
                    "urlname",
                    "description",
                    "about",
                    "category",
                    "icon",
                    "discoverable",
                    "subscriberCountDisplay",
                    "incomeDisplay"
                ]
            },
            "CreatorModelV3": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "owner": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "urlname": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "about": {
                        "type": "string"
                    },
                    "category": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "title"
                        ]
                    },
                    "cover": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "icon": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "liveStream": {
                        "$ref": "#/components/schemas/LiveStreamModel"
                    },
                    "subscriptionPlans": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubscriptionPlanModel"
                        }
                    },
                    "discoverable": {
                        "type": "boolean"
                    },
                    "subscriberCountDisplay": {
                        "type": "string"
                    },
                    "incomeDisplay": {
                        "type": "boolean"
                    },
                    "socialLinks": {
                        "$ref": "#/components/schemas/SocialLinksModel"
                    }
                },
                "required": [
                    "id",
                    "owner",
                    "title",
                    "urlname",
                    "description",
                    "about",
                    "category",
                    "cover",
                    "icon",
                    "subscriptionPlans",
                    "discoverable",
                    "subscriberCountDisplay",
                    "incomeDisplay",
                    "socialLinks"
                ]
            },
            "BlogPostModelV3": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string",
                        "description": "Text description of the post. May have HTML paragraph (`<p>`) tags surrounding it, along with other HTML.."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "blogPost"
                        ]
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "attachmentOrder": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PostMetadataModel"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "comments": {
                        "type": "integer"
                    },
                    "creator": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "owner": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "username": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id",
                                    "username"
                                ]
                            },
                            "title": {
                                "type": "string"
                            },
                            "urlname": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "about": {
                                "type": "string"
                            },
                            "category": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "cover": {
                                "$ref": "#/components/schemas/ImageModel"
                            },
                            "icon": {
                                "$ref": "#/components/schemas/ImageModel"
                            },
                            "liveStream": {
                                "$ref": "#/components/schemas/LiveStreamModel"
                            },
                            "subscriptionPlans": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SubscriptionPlanModel"
                                }
                            },
                            "discoverable": {
                                "type": "boolean"
                            },
                            "subscriberCountDisplay": {
                                "type": "string"
                            },
                            "incomeDisplay": {
                                "type": "boolean"
                            },
                            "card": {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        },
                        "required": [
                            "id",
                            "owner",
                            "title",
                            "urlname",
                            "description",
                            "about",
                            "category",
                            "cover",
                            "icon",
                            "subscriptionPlans",
                            "discoverable",
                            "subscriberCountDisplay",
                            "incomeDisplay",
                            "card"
                        ]
                    },
                    "wasReleasedSilently": {
                        "type": "boolean"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean"
                    },
                    "videoAttachments": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "audioAttachments": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "pictureAttachments": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "galleryAttachments": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "id",
                    "guid",
                    "title",
                    "text",
                    "type",
                    "tags",
                    "attachmentOrder",
                    "metadata",
                    "releaseDate",
                    "likes",
                    "dislikes",
                    "score",
                    "comments",
                    "creator",
                    "wasReleasedSilently",
                    "thumbnail",
                    "isAccessible",
                    "videoAttachments",
                    "audioAttachments",
                    "pictureAttachments",
                    "galleryAttachments"
                ]
            },
            "SubscriptionPlanModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "price": {
                        "type": "string"
                    },
                    "priceYearly": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "logo": {
                        "type": "string"
                    },
                    "interval": {
                        "type": "string"
                    },
                    "featured": {
                        "type": "boolean"
                    },
                    "allowGrandfatheredAccess": {
                        "type": "boolean"
                    },
                    "discordServers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DiscordServerModel"
                        }
                    },
                    "discordRoles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DiscordRoleModel"
                        }
                    }
                },
                "required": [
                    "id",
                    "title",
                    "description",
                    "price",
                    "currency",
                    "interval",
                    "featured",
                    "discordServers",
                    "discordRoles"
                ]
            },
            "PostMetadataModel": {
                "type": "object",
                "properties": {
                    "hasVideo": {
                        "type": "boolean"
                    },
                    "videoCount": {
                        "type": "integer"
                    },
                    "videoDuration": {
                        "type": "number"
                    },
                    "hasAudio": {
                        "type": "boolean"
                    },
                    "audioCount": {
                        "type": "integer"
                    },
                    "audioDuration": {
                        "type": "number"
                    },
                    "hasPicture": {
                        "type": "boolean"
                    },
                    "pictureCount": {
                        "type": "integer"
                    },
                    "hasGallery": {
                        "type": "boolean"
                    },
                    "galleryCount": {
                        "type": "integer"
                    },
                    "isFeatured": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "hasVideo",
                    "videoCount",
                    "videoDuration",
                    "hasAudio",
                    "audioCount",
                    "audioDuration",
                    "hasPicture",
                    "pictureCount",
                    "hasGallery",
                    "galleryCount",
                    "isFeatured"
                ]
            },
            "VideoAttachmentModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "duration": {
                        "type": "number"
                    },
                    "creator": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "isProcessing": {
                        "type": "boolean"
                    },
                    "primaryBlogPost": {
                        "type": "string"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "id",
                    "guid",
                    "title",
                    "type",
                    "description",
                    "duration",
                    "creator",
                    "likes",
                    "dislikes",
                    "score",
                    "isProcessing",
                    "primaryBlogPost",
                    "thumbnail",
                    "isAccessible"
                ]
            },
            "PictureAttachmentModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "isProcessing": {
                        "type": "boolean"
                    },
                    "creator": {
                        "type": "string"
                    },
                    "primaryBlogPost": {
                        "type": "string"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "isAccessible": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "creator",
                    "description",
                    "dislikes",
                    "guid",
                    "id",
                    "isAccessible",
                    "isProcessing",
                    "likes",
                    "primaryBlogPost",
                    "score",
                    "thumbnail",
                    "title",
                    "type"
                ]
            },
            "AudioAttachmentModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guid": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "waveform": {
                        "type": "object",
                        "properties": {
                            "dataSetLength": {
                                "type": "integer"
                            },
                            "highestValue": {
                                "type": "integer"
                            },
                            "lowestValue": {
                                "type": "integer"
                            },
                            "data": {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                }
                            }
                        },
                        "required": [
                            "data",
                            "dataSetLength",
                            "highestValue",
                            "lowestValue"
                        ]
                    },
                    "creator": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "isProcessing": {
                        "type": "boolean"
                    },
                    "primaryBlogPost": {
                        "type": "string"
                    },
                    "isAccessible": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "creator",
                    "description",
                    "dislikes",
                    "duration",
                    "guid",
                    "id",
                    "isAccessible",
                    "isProcessing",
                    "likes",
                    "primaryBlogPost",
                    "score",
                    "title",
                    "type",
                    "waveform"
                ]
            },
            "ImageModel": {
                "type": "object",
                "properties": {
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "path": {
                        "type": "string"
                    },
                    "size": {
                        "type": "integer"
                    },
                    "childImages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChildImageModel"
                        }
                    }
                },
                "required": [
                    "width",
                    "height",
                    "path"
                ]
            },
            "ChildImageModel": {
                "type": "object",
                "properties": {
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "path": {
                        "type": "string"
                    }
                },
                "required": [
                    "width",
                    "height",
                    "path"
                ]
            },
            "LiveStreamModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "owner": {
                        "type": "string"
                    },
                    "streamPath": {
                        "type": "string"
                    },
                    "offline": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "thumbnail": {
                                "$ref": "#/components/schemas/ImageModel"
                            }
                        }
                    }
                },
                "required": [
                    "id",
                    "title",
                    "description",
                    "owner",
                    "streamPath",
                    "offline"
                ]
            },
            "SocialLinksModel": {
                "type": "object",
                "properties": {
                    "instagram": {
                        "type": "string"
                    },
                    "twitter": {
                        "type": "string"
                    },
                    "website": {
                        "type": "string"
                    },
                    "facebook": {
                        "type": "string"
                    },
                    "youtube": {
                        "type": "string"
                    }
                }
            },
            "DiscordServerModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "guildName": {
                        "type": "string"
                    },
                    "guildIcon": {
                        "type": "string"
                    },
                    "inviteLink": {
                        "type": "string"
                    },
                    "inviteMode": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "guildName",
                    "guildIcon",
                    "inviteLink",
                    "inviteMode"
                ]
            },
            "DiscordRoleModel": {
                "type": "object",
                "properties": {
                    "server": {
                        "type": "string"
                    },
                    "roleName": {
                        "type": "string"
                    }
                },
                "required": [
                    "server",
                    "roleName"
                ]
            },
            "UserModel": {
                "type": "object",
                "description": "Represents some basic information of a user (id, username, and profile image).",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "profileImage": {
                        "$ref": "#/components/schemas/ImageModel"
                    }
                },
                "required": [
                    "id",
                    "username",
                    "profileImage"
                ]
            },
            "UserSelfModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "profileImage": {
                        "$ref": "#/components/schemas/ImageModel"
                    },
                    "email": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "username",
                    "profileImage"
                ]
            },
            "ConnectedAccountModel": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string",
                        "description": "Unique identifier for the account type."
                    },
                    "name": {
                        "type": "string",
                        "description": "Display-friendly label for the `key`."
                    },
                    "enabled": {
                        "type": "boolean",
                        "description": "Determines if the system allows this account to be connected to."
                    },
                    "iconWhite": {
                        "type": "string"
                    },
                    "connectedAccount": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "remoteUserId": {
                                "type": "string"
                            },
                            "remoteUserName": {
                                "type": "string"
                            },
                            "data": {
                                "type": "object",
                                "properties": {
                                    "canJoinGuilds": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        },
                        "required": [
                            "id",
                            "remoteUserId",
                            "remoteUserName",
                            "data"
                        ]
                    },
                    "connected": {
                        "type": "boolean",
                        "description": "If true, the user is connected and the `connectedAccount` will have data about the account."
                    },
                    "isAccountProvider": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "key",
                    "name",
                    "enabled",
                    "iconWhite",
                    "connectedAccount",
                    "connected",
                    "isAccountProvider"
                ]
            },
            "CommentModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "blogPost": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserModel"
                    },
                    "contentReference": {
                        "type": "string"
                    },
                    "contentReferenceType": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "replying": {
                        "type": "string"
                    },
                    "postDate": {
                        "type": "string"
                    },
                    "editDate": {
                        "type": "string"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "interactionCounts": {
                        "type": "object",
                        "properties": {
                            "like": {
                                "type": "integer"
                            },
                            "dislike": {
                                "type": "integer"
                            }
                        }
                    },
                    "totalReplies": {
                        "type": "integer"
                    },
                    "replies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommentReplyModel"
                        }
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    }
                },
                "required": [
                    "id",
                    "blogPost",
                    "user",
                    "contentReference",
                    "contentReferenceType",
                    "text",
                    "replying",
                    "postDate",
                    "editDate",
                    "likes",
                    "dislikes",
                    "score",
                    "interactionCounts",
                    "totalReplies",
                    "replies"
                ]
            },
            "CommentReplyModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "blogPost": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserModel"
                    },
                    "contentReference": {
                        "type": "string"
                    },
                    "contentReferenceType": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "replying": {
                        "type": "string"
                    },
                    "postDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "editDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "likes": {
                        "type": "integer"
                    },
                    "dislikes": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "interactionCounts": {
                        "type": "object",
                        "properties": {
                            "like": {
                                "type": "integer"
                            },
                            "dislike": {
                                "type": "integer"
                            }
                        }
                    },
                    "userInteraction": {
                        "$ref": "#/components/schemas/UserInteractionModel"
                    }
                },
                "required": [
                    "id",
                    "blogPost",
                    "user",
                    "contentReference",
                    "contentReferenceType",
                    "text",
                    "replying",
                    "postDate",
                    "editDate",
                    "likes",
                    "dislikes",
                    "score",
                    "interactionCounts"
                ]
            },
            "UserNotificationModel": {
                "type": "object",
                "properties": {
                    "creator": {
                        "$ref": "#/components/schemas/CreatorModelV2"
                    },
                    "userNotificationSetting": {
                        "type": "object",
                        "properties": {
                            "createdAt": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "id": {
                                "type": "string"
                            },
                            "contentEmail": {
                                "type": "boolean"
                            },
                            "contentFirebase": {
                                "type": "boolean"
                            },
                            "creatorMessageEmail": {
                                "type": "boolean"
                            },
                            "user": {
                                "type": "string"
                            },
                            "creator": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "createdAt",
                            "updatedAt",
                            "id",
                            "contentEmail",
                            "contentFirebase",
                            "creatorMessageEmail",
                            "user",
                            "creator"
                        ]
                    }
                },
                "required": [
                    "creator",
                    "userNotificationSetting"
                ]
[...]
